<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="_include/head"></head>
<body>
<nav th:include="_include/nav"></nav>

<div class="container">

    <h3 th:text="${book.title}"></h3>
    <ul>
        <li><img th:src="${book.image}" alt="..." class="img-thumbnail"></li>
        <li> Auteur : <span th:text="${book.autor}" />
        </li>
        <li> Nombre restant :  <span th:text="${book.nbRemaining}"/>
        </li>
    </ul>

</div>


<script type="text/javascript" src="webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>

</body>
</html>