<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:include="_include/head"></head>
<body>
    <nav th:include="_include/nav"></nav>

<div class="container">
    <form th:action="@{/search}" method="post" th:object="${search}" class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Recherche" aria-label="Search" id="search" name="search" th:field="*{name}">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Rechercher</button>
    </form>

    <h3>Ouvrages</h3>

    <div class="row">
        <section class="row">
            <figure th:each="book : ${books}" class="col-pad col-xs-6 col-sm-6 col-md-4">
                <a th:href="@{|/book/${book.id}|}" class="link-img"><img class="row img-thumbnail" th:src="${book.image}" alt="library">
                    <figcaption class="row"><span th:text="${book.title}"/><p> - </p><span th:text="${book.autor}"/> </figcaption></a>
            </figure>
        </section>
    </div>

</div>


<script type="text/javascript" src="webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>

</body>
</html>